@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* The main app's scrollbar and all other scrollbars */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #444;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}
